# MySQL Configuration
MYSQL_DATABASE=zabbix
MYSQL_USER=zabbix
MYSQL_PASSWORD=zabbix
MYSQL_ROOT_PASSWORD=zabbix

# Zabbix Server Configuration
DB_SERVER_HOST=mysql
MYSQL_DATABASE=zabbix
MYSQL_USER=zabbix
MYSQL_PASSWORD=zabbix
MYSQL_ROOT_PASSWORD=zabbix
TZ=America/Fortaleza
ZBX_CACHESIZE=128M

# Zabbix Web Configuration
ZBX_SERVER_HOST=zabbix-server
PHP_TZ=America/Fortaleza