# Postgres Configuration
POSTGRES_DATABASE=zabbix
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=zabbix
POSTGRES_HOST_AUTH_METHOD=trust

# Zabbix Server Configuration
DB_SERVER_HOST=postgres
POSTGRES_DATABASE=zabbix
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=zabbix
TZ=America/Fortaleza
ZBX_CACHESIZE=128M

# Zabbix Web Configuration
ZBX_SERVER_HOST=zabbix-server
PHP_TZ=America/Fortaleza